/* ==========================================================================
A basic old school grid
========================================================================== */
.row {
  margin-left: -8px;
  margin-right: -8px;
  display: flex;
  flex-wrap: wrap;

  &.row--gutterless {
    margin-left: 0;
    margin-right: 0;
  }

  .flex-1 {
    flex: 1;
  }

  &--rev {
    flex-direction: row-reverse;
  }

  &--col-rev {
    flex-direction: column-reverse;
  }

  &--vertical-center {
    align-items: center;
  }

  &--gap-48 {
    margin-left: -24px;
    margin-right: -24px;
  }
}

.col {
  padding-left: 8px;
  padding-right: 8px;

  .row--gutterless & {
    padding-left: 0;
    padding-right: 0;
  }

  .row--gap-48 & {
    padding-left: 24px;
    padding-right: 24px;
  }

  &--w-1_5 {
    max-width: 20%;
    flex: 0 0 20%;
  }
}

@mixin grid-loop($name) {
  @for $i from 0 through $grid-columns {
    @if $i != 0 {
      @if $name != '' {
        .col--#{$name}-#{$i} {
          width: 100%;
          max-width: percentage(calc($i / $grid-columns));
          flex: 0 0 percentage(calc($i / $grid-columns));
        }
        .col--#{$name}-#{$i}-gutterless {
          padding-left: 0;
        }
        @if $i == 12 {
          .col--#{$name}-mb-0 {
            &:not(:last-child) {
              margin-bottom: 0;
            }
          }
        }
      } @else {
        .col--#{$i} {
          width: 100%;
          max-width: percentage(calc($i / $grid-columns));
          flex: 0 0 percentage(calc($i / $grid-columns));
        }
        .col--#{$i}-gutterless {
          padding-left: 0;
        }
        @if $i == 12 {
          .col--mb-4 {
            &:not(:last-child) {
              margin-bottom: 16px;
            }
          }
        }
      }
    }

    .col--#{$name}-offset-#{$i} {
      margin-left: percentage(calc($i / $grid-columns));
    }
  }
}

@each $breakpoint in $breakpoints {
  $name: nth($breakpoint, 1);
  $size: nth($breakpoint, 2);

  @if $size == false {
    @include grid-loop($name);
  } @else {
    @media only screen and (min-width: $size) {
      @include grid-loop($name);

      .#{$name}\:row--rev {
        flex-direction: row-reverse;
      }

      .#{$name}\:row--col-rev {
        flex-direction: column-reverse;
      }
    }
  }
}
