@each $breakpoint in $breakpoints {
  $name: nth($breakpoint, 1);
  $size: nth($breakpoint, 2);

  @if $size == false {
    .text-center {
      text-align: center;
    }
    .text-left {
      text-align: left;
    }
    .text-right {
      text-align: right;
    }
    .items-start {
      align-items: flex-start;
    }
    .items-center {
      align-items: center;
    }
    .justify-center {
      justify-content: center;
    }
    .justify-between {
      justify-content: space-between;
    }
    .flex-nowrap {
      flex-wrap: nowrap;
    }
    .flex-wrap {
      flex-wrap: wrap;
    }
    .grow-0 {
      flex-grow: 0;
    }
    .grow-1 {
      flex-grow: 1;
    }
    .shrink-0 {
      flex-shrink: 0;
    }
    .shrink-1 {
      flex-shrink: 1;
    }
    .ml-auto {
      margin-left: auto;
    }
    .mx-0 {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
    .flex {
      display: flex;
    }
    .block {
      display: block;
    }
    .inline-block {
      display: inline-block;
    }
    .hidden {
      display: none !important;
    }
    .mt-6 {
      margin-top: 24px;
    }
    .mt-8 {
      margin-top: 32px;
    }
    .mb-8 {
      margin-bottom: 32px;
    }
  } @else {
    @media only screen and (min-width: $size) {
      .hidden--#{$name}-up {
        display: none !important;
      }
      .visible--#{$name}-up {
        display: block !important;
      }
      .flex--#{$name}-up {
        display: flex !important;
      }
      .inline-flex--#{$name}-up {
        display: flex !important;
      }
      .text-#{$name}-center {
        text-align: center;
      }
      .text-#{$name}-left {
        text-align: left;
      }
      .text-#{$name}-right {
        text-align: right;
      }
      .#{$name}\:mt-6 {
        margin-top: 24px;
      }
      .#{$name}\:mb-12 {
        margin-bottom: 48px;
      }
      .#{$name}\:items-start {
        align-items: flex-start;
      }
      .#{$name}\:items-center {
        align-items: center;
      }
      .#{$name}\:justify-between {
        justify-content: space-between;
      }
      .#{$name}\:justify-center {
        justify-content: center;
      }
      .#{$name}\:flex-nowrap {
        flex-wrap: nowrap;
      }
      .#{$name}\:flex-wrap {
        flex-wrap: wrap;
      }
      .#{$name}\:grow-0 {
        flex-grow: 0;
      }
      .#{$name}\:grow-1 {
        flex-grow: 1;
      }
      .#{$name}\:shrink-0 {
        flex-shrink: 0;
      }
      .#{$name}\:shrink-1 {
        flex-shrink: 1;
      }
      .#{$name}\:ml-auto {
        margin-left: auto;
      }
      .#{$name}\:mx-0 {
        margin-right: 0 !important;
        margin-left: 0 !important;
      }
      .#{$name}\:block {
        display: block;
      }
      .#{$name}\:inline-block {
        display: inline-block;
      }
    }
  }
}
